/*
 * sircus-tools-gutter-responsive(lg)
 ================================================== */
@media #{$g-viewport-lg} {
  .t-lg-gutter {
    padding-left: $g-gutter;
    padding-right: $g-gutter;
  }

  .t-lg-gutterReset {
    margin-left: (0 - $g-gutter) !important;
    margin-right: (0 - $g-gutter) !important;
  }

  .t-lg-gutter2x {
    padding-left: ($g-gutter2x) !important;
    padding-right: ($g-gutter2x) !important;
  }

  .t-lg-gutter2xReset {
    margin-left: (0 - $g-gutter2x) !important;
    margin-right: (0 - $g-gutter2x) !important;
  }
}
