/*
 * sircus-tools-gutter-responsive(md)
 ================================================== */
@media #{$g-viewport-md} {
  .t-md-gutter {
    padding-left: $g-gutter;
    padding-right: $g-gutter;
  }

  .t-md-gutterReset {
    margin-left: (0 - $g-gutter);
    margin-right: (0 - $g-gutter);
  }

  .t-md-gutter2x {
    padding-left: ($g-gutter2x);
    padding-right: ($g-gutter2x);
  }

  .t-md-gutter2xReset {
    margin-left: (0 - $g-gutter2x);
    margin-right: (0 - $g-gutter2x);
  }
}
