
/*
 * sircus-tools-gutter-responsive(md)
 ================================================== */

@media #{$g-viewport-md} {
  .t-md-gutter {
    padding-left:$g-gutter;
    padding-right:$g-gutter;
  }
  .t-md-gutterReset {
    margin-left: (0 - $g-gutter) !important;
    margin-right: (0 - $g-gutter) !important;
  }
}
